*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
body{
    background-color: blue;
}
.doda{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    margin: 300px 150px;
    width: 1400px;
    height: 700px;
    border-radius: 50px;
}
.ada{
    background-color: black;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.bola{
    width: 140px;
    height: 70px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color: white;
}